/* 显示纯文本的时候,匹配 .controls 的高度 */
.plain-text {
	padding: 5px 0px;
}

.table th {
	height: auto;
	padding: 5px 10px 2px;
	border-bottom: 0;
/* 	text-align: center; */
	color: #666666;
}

label.search-text {
	width: 60px;
}

/* 高级搜索框*/
div.options {
	display: none;
}

.quick-actions a {
	line-height: 18px;
	margin: 0 10px 10px;
	padding: 0 10px;
	min-width: 80px;
	margin-left: 0px;
	padding: 0;
	padding: 10px 30px;
}